builders/scs/commons/tmp/compss/runtime/config/xml/resources/resources_schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- MAIN ELEMENT -->
	<xsd:element name="ResourcesList" type="ResourcesListType"/>

        <!-- ########################################################################################## -->
	<!-- RESOURCES LIST Description -->
	<xsd:complexType name="ResourcesListType">
         	<xsd:choice minOccurs="1" maxOccurs="unbounded">
                       	<xsd:element name="SharedDisk" type="SharedDiskType"/>
                       	<xsd:element name="DataNode" type="DataNodeType"/>
                       	<xsd:element name="ComputeNode" type="ComputeNodeType"/>
                       	<xsd:element name="Service" type="ServiceType"/>
                       	<xsd:element name="CloudProvider" type="CloudProviderType"/>
               	</xsd:choice>
    	</xsd:complexType>

	<!-- ########################################################################################## -->
	<!-- FIRST LEVEL COMPLEX TYPES -->

	<!-- SHARED DISK Description -->
	<xsd:complexType name="SharedDiskType">
		<xsd:sequence>
			<!-- Mandatory -->
	                <!-- NOT mandatory -->
			<xsd:element name="Storage" type="StorageType" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
                <xsd:attribute name="Name" type="xsd:string" use="required"/>
	</xsd:complexType>

	<!-- DATA NODE Description -->
	<xsd:complexType name="DataNodeType">
		<xsd:choice minOccurs="3" maxOccurs="unbounded">
			<!-- Mandatory -->
                	<xsd:element name="Host" type="xsd:string" minOccurs="1" maxOccurs="1" />
                	<xsd:element name="Path" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Adaptors" type="AdaptorsListType" minOccurs="1" maxOccurs="1" />
			<!-- NOT mandatory -->
			<xsd:element name="Storage" type="StorageType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SharedDisks" type="AttachedDisksListType" minOccurs="0" maxOccurs="1" />
        	</xsd:choice>
                <xsd:attribute name="Name" type="xsd:string" use="required"/>
        </xsd:complexType>

        <!-- COMPUTE NODE Description -->
        <xsd:complexType name="ComputeNodeType">
                <xsd:choice minOccurs="2" maxOccurs="unbounded">
                        <!-- Mandatory -->
			<xsd:element name="Processor" type="ProcessorType" minOccurs="1" maxOccurs="unbounded" />
                        <xsd:element name="Adaptors" type="AdaptorsListType" minOccurs="1" maxOccurs="1" />
                        <!-- NOT mandatory -->
			<xsd:element name="Memory" type="MemoryType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Storage" type="StorageType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OperatingSystem" type="OSType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Software" type="SoftwareListType" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="SharedDisks" type="AttachedDisksListType" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="Price" type="PriceType" minOccurs="0" maxOccurs="1" />
                </xsd:choice>
                <xsd:attribute name="Name" type="xsd:string" use="required"/>
        </xsd:complexType>

        <!-- SERVICE Description -->
        <xsd:complexType name="ServiceType">
                <xsd:all>
                        <!-- Mandatory -->
                        <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="Namespace" type="xsd:anyURI" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="Port" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <!-- NOT mandatory -->
			<xsd:element name="Price" type="PriceType" minOccurs="0" maxOccurs="1" />
                </xsd:all>
                <xsd:attribute name="wsdl" type="xsd:anyURI" use="required"/>
        </xsd:complexType>

        <!-- CLOUD PROVIDER Description -->
        <xsd:complexType name="CloudProviderType">
                <xsd:all>
                        <!-- Mandatory -->
                        <xsd:element name="Endpoint" type="EndpointType" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="Images" type="ImagesType" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="InstanceTypes" type="InstanceTypesType" minOccurs="1" maxOccurs="1" />
                        <!-- NOT mandatory -->
                </xsd:all>
                <xsd:attribute name="Name" type="xsd:string" use="required"/>
        </xsd:complexType>

        <!-- ########################################################################################## -->
	<!-- SECOND LEVEL COMPLEX TYPES -->

	<!-- STORAGE Type -->
	<xsd:complexType name="StorageType">
                <xsd:choice minOccurs="1" maxOccurs="unbounded">
                        <!-- Mandatory -->
                        <xsd:element name="Size" type="xsd:float" minOccurs="1" maxOccurs="1" />	<!-- GB -->
                        <!-- NOT mandatory -->
			<xsd:element name="Type" type="xsd:string" minOccurs="0" maxOccurs="1" />
                </xsd:choice>
	</xsd:complexType>


	<!-- ADAPTORS TYPE -->
        <xsd:complexType name="AdaptorsListType">
		<xsd:sequence>
			<xsd:element name="Adaptor" type="AdaptorType" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
        </xsd:complexType>

        <xsd:complexType name="AdaptorType">
		<xsd:choice minOccurs="1" maxOccurs="unbounded">
			<!-- Mandatory -->
                        <xsd:element name="SubmissionSystem" type="SubmissionSystemType" minOccurs="1" maxOccurs="1" />
			<!-- One of them mandatory -->
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name="Ports" type="NIOAdaptorProperties" minOccurs="0" maxOccurs="1" />
				<xsd:element name="BrokerAdaptor" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="Properties" type="ExternalAdaptorProperties" minOccurs="0" maxOccurs="1" />
			</xsd:choice>
			<!-- NOT mandatory -->
			<xsd:element name="User" type="xsd:string" minOccurs="0" maxOccurs="1" />
                </xsd:choice>
		<xsd:attribute name="Name" type="xsd:string" use="required" />
        </xsd:complexType>

	<!-- Submission type -->
	<xsd:complexType name="SubmissionSystemType">
                <xsd:choice minOccurs="1" maxOccurs="unbounded">
                        <xsd:element name="Batch" type="BatchType" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="Interactive" type="InteractiveType" minOccurs="0" maxOccurs="1" />
                </xsd:choice>
        </xsd:complexType>

        <xsd:complexType name="BatchType">
                <xsd:sequence>
                        <!-- Mandatory -->
                        <xsd:element name="Queue" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                        <!-- NOT mandatory -->
                </xsd:sequence>
        </xsd:complexType>

        <xsd:complexType name="InteractiveType">
                <!-- Mandatory -->
                <!-- NOT mandatory -->
        </xsd:complexType>

	<!-- AdaptorProperties type -->
	<xsd:complexType name="NIOAdaptorProperties">
		<xsd:sequence>
                	<!-- Mandatory -->
                        <xsd:element name="MinPort" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="MaxPort" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <!-- NOT mandatory -->
                        <xsd:element name="RemoteExecutionCommand" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
	</xsd:complexType>

        <xsd:complexType name="ExternalAdaptorProperties">
		<xsd:sequence>
                       	<!-- Mandatory -->
		        <!-- NOT mandatory -->
	        	<xsd:element name="Property" type="PropertyAdaptorType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
        </xsd:complexType>

        <xsd:complexType name="PropertyAdaptorType">
                <xsd:sequence>
                        <!-- Mandatory -->
                        <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <!-- NOT mandatory -->
                </xsd:sequence>
        </xsd:complexType>


        <!-- ATTACHED DISKS LIST TYPE -->
        <xsd:complexType name="AttachedDisksListType">
		<xsd:sequence>
			<!-- Mandatory -->
			<xsd:element name="AttachedDisk" type="AttachedDiskType" minOccurs="1" maxOccurs="unbounded" />
			<!-- NOT mandatory -->
		</xsd:sequence>
        </xsd:complexType>

	<xsd:complexType name="AttachedDiskType">
                <xsd:sequence>
			<!-- Mandatory -->
                	<xsd:element name="MountPoint" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<!-- NOT mandatory -->
		</xsd:sequence>
                <xsd:attribute name="Name" type="xsd:string" use="required"/>
        </xsd:complexType>


        <!-- PROCESSOR TYPE -->
        <xsd:complexType name="ProcessorType">
		<xsd:choice minOccurs="1" maxOccurs="unbounded">
                        <!-- Mandatory -->
                        <xsd:element name="ComputingUnits" type="xsd:int" minOccurs="1" maxOccurs="1" />
                        <!-- NOT mandatory -->
                        <xsd:element name="Architecture" type="xsd:string" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="Speed" type="xsd:float" minOccurs="0" maxOccurs="1" />		<!-- GHz -->
                        <xsd:element name="Type" type="xsd:string" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="InternalMemorySize" type="xsd:float" minOccurs="0" maxOccurs="1" />	<!-- GB -->
                        <xsd:element name="ProcessorProperty" type="ProcessorPropertyType" minOccurs="0" maxOccurs="1" />
                </xsd:choice>
                <xsd:attribute name="Name" type="xsd:string" use="required"/>
        </xsd:complexType>

        <xsd:complexType name="ProcessorPropertyType">
                <xsd:sequence>
                        <!-- Mandatory -->
                        <xsd:element name="Key" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
        </xsd:complexType>

        <!-- MEMORY TYPE -->
        <xsd:complexType name="MemoryType">
                <xsd:choice minOccurs="1" maxOccurs="unbounded">
                        <!-- Mandatory -->
                        <xsd:element name="Size" type="xsd:float" minOccurs="1" maxOccurs="1" />	<!-- GB -->
                        <!-- NOT mandatory -->
                        <xsd:element name="Type" type="xsd:string" minOccurs="0" maxOccurs="1" />
                </xsd:choice>
        </xsd:complexType>


        <!-- OPERATING SYSTEM TYPE -->
        <xsd:complexType name="OSType">
                <xsd:choice minOccurs="1" maxOccurs="unbounded">
                        <!-- Mandatory -->
                        <xsd:element name="Type" type="OSTypeType" minOccurs="1" maxOccurs="1" />
                        <!-- NOT mandatory -->
                        <xsd:element name="Distribution" type="xsd:string" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="Version" type="xsd:string" minOccurs="0" maxOccurs="1" />
                </xsd:choice>
        </xsd:complexType>

        <xsd:simpleType name="OSTypeType">
		<xsd:restriction base="xsd:string">
        		<xsd:enumeration value="Linux"/>
	       		<xsd:enumeration value="Windows"/>
	            	<xsd:enumeration value="MacOS"/>
	            	<xsd:enumeration value="FreeBSD"/>
	            	<xsd:enumeration value="SunOS"/>
        	</xsd:restriction>
        </xsd:simpleType>


        <!-- SOFTWARE LIST TYPE -->
        <xsd:complexType name="SoftwareListType">
		<xsd:sequence>
			<!-- Mandatory -->
			<xsd:element name="Application" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
			<!-- NOT mandatory -->
		</xsd:sequence>
        </xsd:complexType>


        <!-- PRICE TYPE -->
        <xsd:complexType name="PriceType">
                <xsd:all>
                        <!-- Mandatory -->
                        <xsd:element name="TimeUnit" type="xsd:int" minOccurs="1" maxOccurs="1" />	<!-- NUMBER OF MINUTES -->
                        <xsd:element name="PricePerUnit" type="xsd:float" minOccurs="1" maxOccurs="1" />
			<!-- NOT mandatory -->
                </xsd:all>
        </xsd:complexType>


        <!-- ENDPOINT TYPE -->
        <xsd:complexType name="EndpointType">
                <xsd:choice minOccurs="3" maxOccurs="unbounded">
                        <!-- Mandatory -->
                        <xsd:element name="Server" type="xsd:anyURI" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ConnectorJar" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="ConnectorClass" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <!-- NOT mandatory -->
                        <xsd:element name="Port" type="xsd:string" minOccurs="0" maxOccurs="1" />
                </xsd:choice>
        </xsd:complexType>


        <!-- IMAGES (LIST) TYPE -->
        <xsd:complexType name="ImagesType">
		<xsd:sequence>
                	<!-- Mandatory -->
			<xsd:element name="Image" type="ImageType" minOccurs="1" maxOccurs="unbounded" />
			<!-- NOT mandatory -->
		</xsd:sequence>
        </xsd:complexType>

        <xsd:complexType name="ImageType">
		<xsd:choice minOccurs="1" maxOccurs="unbounded">
			<!-- Mandatory -->
			<xsd:element name="Adaptors" type="AdaptorsListType" minOccurs="1" maxOccurs="1" />
                        <!-- NOT mandatory -->
                        <xsd:element name="OperatingSystem" type="OSType" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="Software" type="SoftwareListType" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="SharedDisks" type="AttachedDisksListType" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="CreationTime" type="xsd:int" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="Price" type="PriceType" minOccurs="0" maxOccurs="1" />
		</xsd:choice>
                <xsd:attribute name="Name" type="xsd:string" use="required"/>
        </xsd:complexType>


        <!-- INSTANCES (LIST) TYPE -->
        <xsd:complexType name="InstanceTypesType">
                <xsd:sequence>
			<!-- Mandatory -->
			<xsd:element name="InstanceType" type="InstanceTypeType" minOccurs="1" maxOccurs="unbounded" />
                	<!-- NOT mandatory -->
		</xsd:sequence>
        </xsd:complexType>

        <xsd:complexType name="InstanceTypeType">
                <xsd:choice minOccurs="1" maxOccurs="unbounded">
                        <!-- Mandatory -->
                        <xsd:element name="Processor" type="ProcessorType" minOccurs="1" maxOccurs="unbounded" />
                        <!-- NOT mandatory -->
                        <xsd:element name="Memory" type="MemoryType" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="Storage" type="StorageType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Price" type="PriceType" minOccurs="0" maxOccurs="1" />
                </xsd:choice>
                <xsd:attribute name="Name" type="xsd:string" use="required"/>
        </xsd:complexType>

</xsd:schema>
