compss/runtime/config/xml/monitor/monitor_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="COMPSsState" type="COMPSsStateType" />
  <xsd:complexType name="COMPSsStateType">
    <xsd:sequence>
      <xsd:element name="TasksInfo" type="TasksInfoType" />
      <xsd:element name="CoresInfo" type="CoresInfoType" />
      <xsd:element name="ResourceInfo" type="ResourceInfoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResourceInfoType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Resource" type="ResourceType" />
      <xsd:element name="AccumulatedCost" type="xsd:float" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResourceType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CPU" type="xsd:int" />
      <xsd:element minOccurs="0" name="Memory" type="xsd:float" />
      <xsd:element minOccurs="0" name="Disk" type="xsd:float" />
      <xsd:element name="Tasks" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="CoresInfoType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Core" type="CoreType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CoreType">
    <xsd:sequence>
      <xsd:element name="MeanExecutionTime" type="xsd:int" />
      <xsd:element name="MinExecutionTime" type="xsd:int" />
      <xsd:element name="MaxExecutionTime" type="xsd:int" />
      <xsd:element name="ExecutedCount" type="xsd:int" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:int" />
    <xsd:attribute name="signature" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="TasksInfoType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Application" type="ApplicationType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ApplicationType">
    <xsd:sequence>
      <xsd:element name="TotalCount" type="xsd:int" />
      <xsd:element name="InProgress" type="xsd:int" />
      <xsd:element name="Completed" type="xsd:int" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:int" />
  </xsd:complexType>
</xsd:schema>
